@import "reset.less";
@import "../css/template.css";

@success-color: #00A910;

.header__menu {
  &:before {
    left: -4px;
  }
  &:after {
    right: -4px;
  }
}

.d-flex {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.direction-row {
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
  
}

.wrapper-justify-between {
  .d-flex;
  .direction-column;
  .justify-between;
  padding: 0 15px;
}

.sales-list {
  .d-flex;
  .direction-row;
  .justify-between;  
}

.sale-item {
  .d-flex;
  flex: 1 0 50%;
  margin-bottom: 20px;
}

.promo__bg-left {
  right: auto;
  left: 3px;
}

