@import "reset.less";
@import "font-decorrum.less";
@import "../css/template.css";
@import "../css/switchery.css";

@color-text: #222;
@color-light-grey: #e7e7e7;
@color-lighting-grey: #f4f4f4;
@color-text-muted: #989898;
@color-base-orange: #ff4222;


@import "mixins/mixins.less";
@import "mixins/fonts.less";
@import "mixins/modals.less";
@import "mixins/forms.less";
@import "mixins/buttons.less";

/* body */
body.inner {
  background-color: #fff;
  line-height: 1.5;
}

/* header */
.header__menu {
  &:before {
    left: -4px;
  }
  &:after {
    right: -3px;
  }
}

/* footer */

.inner {
  footer.footer {
    // width: 1000px;
    // margin: 0 auto;
    .container;
  }
  .wrapper_footer {
    border-top: 3px solid @color-light-grey;
    padding-top: 40px;
    background-color: #fff;
    width: calc(100% - 8px);
    margin: 0 auto;
    &:before {
      display: none;
    }
  }
  .footer__logo {
    filter: grayscale(100%);
  }
}


/* wrapper */

.wrapper-justify-between {
  .d-flex;
  .direction-column;
  .justify-between;
  padding: 0 15px;
}

.article-wrapper {
  background-color: #fff;
}

.container {
  width: 1174px;
  margin-left: auto;
  margin-right: auto;
  @media(max-width: 1400px) {
    width: 1000px;
  }
  @media(max-width: 1100px) {
    width: 96%;
  }
  @media(max-width: 400px) {
    width: 90%;
  }
}

.container-inner {
  width: calc(100% - 8px);
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}


/* headings */

.page-header {
  border-top: 2px solid @color-light-grey;
  border-bottom: 3px solid @color-light-grey;
  background-color: #fff;
  padding: 14px;
}

h1.page-heading {
  font-size: 38px;
  font-weight: 300;
  line-height: 1.2;
}

.page-header-back {
  position: absolute;
  height: 100%;
  height: 42px;
  width: 30%;
  .d-flex;  
  align-items: center;
  font-size: 14px;
  line-height: 1;
   .font-lato;
  &.switch-view-sales {
    height: 42px;
    left: 95px;
    @media (max-width: 1400px) {
      left: 2vw;
    }
  }  
}

.switch-view {
  .page-header-back;
  .justify-end;
  flex-direction: row-reverse;
}

/*switchery */

.switchery-sm {
  height: 12px;
  border-radius: 12px;
  width: 30px;
  margin-right: 4px;
  small {
    width: 10px;
    height: 10px;
  }
}


@import "pages/sales.less";
@import "pages/about.less";
@import "pages/faq.less";
@import "pages/contacts.less";
@import "pages/compare.less";