<div class="compare-col-product compare-col">
  <div class="compare-img">
    <a href="" class="close-times">+</a>
    <img src="../pic/sale-pic-0.jpg" alt="">
    <div class="compare-product-name">
      <a href="">Anna French lyric</a>
    </div>
    <div class="compare-product-price">2000 руб.</div>
  </div>
  <div class="compare-table-product">
    <div class="compare-prop-product compare-prop">AR458754</div>
    <div class="compare-prop-product compare-prop">Бежевые</div>
    <div class="compare-prop-product compare-prop">Оригинальные</div>
    <div class="compare-prop-product compare-prop">на стену</div>
    <div class="compare-prop-product compare-prop">очень высокая</div>
    <div class="compare-prop-product compare-prop">влагостойкая</div>
    <div class="compare-prop-product compare-prop">Флизелин</div>
    <div class="compare-prop-product compare-prop">полностью снимаются</div>
    <div class="compare-prop-product compare-prop">0,52</div>
    <div class="compare-prop-product compare-prop">10.050000000000001 </div>
    <div class="compare-prop-product compare-prop">26</div>
    <div class="compare-prop-product compare-prop">Франция</div>
  </div>
</div>