<div class="contacts-item">
  <div class="contacts-item-city">Новосибирск</div>
  <div class="contacts-item-name">Салон "Декоррум"</div>
  <div class="contacts-item-address">
    <div class="address">
      <i class="dc dc-map-marker-o"></i>
      ул. Советская, д.8
      <a href="" class="show-on-map">Показать на карте</a>
    </div>
  </div>
  <div class="contacts-item-phone">
    <div class="phone">
      <i class="dc dc-phone"></i>
      +7 (383) 310-10-15
    </div>
  </div>
  <div class="contacts-item-mail">
    <div class="mail">
      <i class="dc dc-envelope"></i>
      decocentr@deconsk.ru
    </div>
  </div>
</div>