<div class="faq-question">
  Первого февраля интерьерный салон Decorroom и студия художественных мастер-классов Art time проведут для дизайнеров интерьера воркшоп по созданию паттерна?
  <div class="faq-show-answer">
    <button class="js-show-answer faq-control">Показать ответ</button>
  </div>
  <div class="faq-answer js-answer">
    <button class="js-hide-answer hide-answer faq-control"><i class="dc-back-curl"></i></button>
    Первого февраля интерьерный салон Decorroom и студия художественных мастер-классов Art time проведут для дизайнеров интерьера воркшоп по созданию паттерна?
  </div>
</div>