<footer class="footer revealator-slidedown revealator-delay2 revealator-once">
<div class="wrapper wrapper_footer">
<nav class="footer__catalog">
<ul>
<li class="footer__catalog-item">
<a href="/catalog">
Обои </a>
</li>
<li class="footer__catalog-item">
<a href="/keramicheskaya-plitka/">
Керамика </a>
</li>
<li class="footer__catalog-item">
<a href="/catalog">
Сантехника </a>
</li>
<li class="footer__catalog-item">
<a href="/catalogdekor/">
Лепной декор </a>
</li>
<li class="footer__catalog-item">
<a href="/catalog">
Краска </a>
</li>
<li class="footer__catalog-item">
<a href="/catalogplitka/">
ПВХ плитка </a>
</li>
<li class="footer__catalog-item">
<a href="/catalogplitka/">
Ковровая плитка </a>
</li>
<li class="footer__catalog-item">
<a href="/catalog">
Ламинат </a>
</li>
</ul>
</nav>
<nav class="footer__menu">
<ul>
<li class="footer__catalog-item">
<a href="/sales.html">
Акции </a>
</li>
<li class="footer__catalog-item">
<a href="/about.html">
О компании </a>
</li>
<li class="footer__catalog-item">
<a href="/news">
Новости </a>
</li>
<li class="footer__catalog-item">
<a href="/articles">
Статьи </a>
</li>
<li class="footer__catalog-item">
<a href="/faq.html">
Покупателю </a>
</li>
<li class="footer__catalog-item">
<a href="/contacts.html">
Контакты </a>
</li>
</ul>
</nav>
<div class="footer__info">
<a class="footer__logo" href="#section0"></a>
<p class="social__title">Мы в соцсетях</p>
<div class="footer__social">
<a class="social__link svk" href="https://vk.com/deconsk" target="_blank"></a>
<!--<a class="social__link sfb" href="javascript:void(0)"></a>-->
<a class="social__link sinst" href="https://www.instagram.com/deconsk/" target="_blank"></a>
<a class="social__link sflamp" href="https://novosibirsk.flamp.ru/firm/dekorrum_set_interernykh_salonov-141265771736736" target="_blank"></a>
</div>
<p class="footer__copy">2017 © Декоррум</p>
<p class="footer__copy">Разработка и интеграция <a class="pround" href="https://pround.ru/"></a></p>
</div>
</div>
</footer>