<div class="sale-item revealator-slideright revealator-delay2">
  <div class="sale-item-img" style="background-image: url(../pic/sale-pic-0.jpg);">
    <div class="sale-countdown-sm">
      <div class="countdown-days">18</div>
      <div class="countdown-info">дней до окончания акции</div>
    </div>
  </div>
    
  <div class="sales-item-heading">Скидка 10% на все обои Engblad&Co до конца мая</div>
  <div class="sales-item-info">Основная идея Engblad&CO состоит в том, чтобы удивлять, будить воображение, вдохновлять на дизайнерские эксперименты – в легкой, шутливой...</div>
</div>